<input type="text" [(ngModel)]="title" /> {{ title }}

<div *ngIf="title == 'Sagit'">El div ha sido mostrado</div>

<button (click)="addItem()">Add Item</button>

<input type="text" [(ngModel)]="power" />
{{ power | exponencial }}

<ul>
  <li *ngIf="items.length === 0">Lista Vacía</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }} <button (click)="deleteItem(i)">Eliminar item</button>
  </li>
</ul>

<div *ngIf="title === 'matias'">Esta es Matías</div>
<div *ngIf="title === 'isa'">Esta es Isa</div>
<div *ngIf="title === 'sol'">Esta es Sol</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'matias'">Este es Matías</p>
  <p *ngSwitchCase="'isa'">Este es isa</p>
  <p *ngSwitchCase="'sol'">Este es sol</p>
  <p *ngSwitchDefault>No corresponde</p>
</div>

